<h2>Edit <%= @bulk_discount.name%></h2>

<p><%= render partial: "form", locals: {model: @bulk_discount, url: merchant_bulk_discount_path(@merchant, @bulk_discount), method: :patch, local: true} %></p>