<h1><%= "Edit Bulk Discount #{@bulk_discount.id}" %> </h1>

  <%= render partial: 'form', locals: { method: :patch, url: merchant_bulk_discount_path(@merchant, @bulk_discount), class: 'bulk_discount_form', local: true, merchant: @merchant}%>