<h1>Bulk Discounts index page</h1>
  <%@bulk_discounts.each do|bulk_d|  %>
    <div id="uno-<%=bulk_d.id%>">
      <p>Percentage Discount:<%= bulk_d.percentage_discount %></p>
      <p>Quantity Threshold:<%= bulk_d.quantity_threshold %></p>
        <li><%= link_to "Discount info for # #{bulk_d.id}", merchant_bulk_discount_path(bulk_d.merchant.id,bulk_d.id),style: 'pull-right' %></li>
    </div>
  <% end %>
