<div id="merchants-dicounts-index">

<% @bulk_discounts.each do |discount| %>
  <p>Percentage: <%= link_to "#{discount.percentage}", merchant_bulk_discounts_path(@merchant)%> Threshold: <%= "#{discount.threshold}" %></p>
<% end %>


</div>