<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
  </div>

<div id='bulk-discounts'>
  <ul>
  <% @bulk_discounts.each do |bd| %>
    <li>
    <%= "Discount: #{(bd.discount * 100).round}% off" %>
    </li>
  <% end  %>
  </ul>
</div>
</body>