<h1><%= "#{@merchant.name} Bulk Discount Index" %></h1>
<h3> Current Available Bulk Discounts </h3>
<ul>
<% @bulk_discounts.each do |discount| %>
<li> <%= link_to "Discount: #{discount.id}", merchant_bulk_discount_path(@merchant, discount) %> <%= "Discounted: #{float_to_percent(discount.percentage_discount)}, Quantity Threshhold(items): #{discount.quantity_threshold}" %> </li>
<% end %>
</ul>