<h1><%@merchant.name%>'s Discounts</h1>

<%@bulk_discounts.each do |discount|%>
  <tr>
    <section id=discounts-<%discount.id%>>
      <td><%discount.precentage_discount%></td>
      <td><%discount.quantity_threshhold%></td>
    </section>
  </tr>
<%end%>