<h1> Create a new Bulk Discount for <%= @merchant.name %> </h1>

  <%= render partial: 'form', locals: { method: :post, url: merchant_bulk_discounts_path(@merchant), class: 'bulk_discount_form', local: true, merchant: @merchant}%>