<a href="/merchant/<%= @merchant.id %>/bulk_discounts"> Return to Discounts </a>

<h1> Bulk Discount ID: <%= @discount.id %> </h1>
<h3> Discount Percent: <%= @discount.percent %> </h3>
<h3> Discount Threshold: <%= @discount.threshold %> </h3>
