This is the Bulk Discount Show for Bulk Discount #<%= @bulk_discount.id %>

<h4><%= "Threshold (minimum quantity to trigger discount): #{@bulk_discount.threshold}" %></h4>
<h4><%= "Discount Percent (reduce total price by this %): #{@bulk_discount.discount_percent}%" %>
<%= link_to "Edit this Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>