<h1>Bulk Discount: <%=@bulk_discount.id  %></h1>
<p>Quantity threshold: <%=@bulk_discount.quantity_threshold  %></p>
<p>Percentage discount: <%=float_to_percent(@bulk_discount.percentage_discount)  %></p>