<div id= "discount_id"> 
  <h1>Bulk Discount ID: <%= @bulk_discount.id %></h1>
</div>

<div id= "markdown" >
  <h3>Bulk Discount Markdown: <%= @bulk_discount.markdown %>%</h3>
</div>

<div id= "quantity_threshold">
  <h3>Bulk Discount Quantity Threshold: <%= @bulk_discount.quantity_threshold %></h3>
</div>

<h4><%= link_to "Edit Bulk Discount #{@bulk_discount.id}", edit_merchant_bulk_discount_path(@bulk_discount.merchant_id, @bulk_discount), method: :get %></h4>