<h1><%= @merchant.name %>'s Bulk Discount-<%= @discount.id %> Show Page</h1>

<p><%= "Percentage Discount: #{@discount.sanitized_percentage}%" %></p>
<p><%= "Quantity Threshold: #{@discount.quantity_threshold}" %></p>