<h1> Bulk Discount <%= @discount.id %> Information </h1>

<p>  Quantity: <%= @discount.quantity %> </p>
<p>  Percentage Discount: <%= @discount.percentage_discount %> </p>
<br>
<%= link_to 'Edit Bulk Discount', edit_merchant_bulk_discount_path(@merchant, @discount) %>
