<h1><% "#{@bulk_discount.name}'s Show Page"%></h1>

<table>
  <tr>
    <th>Quantity Threshold</th>
    <th>Percentage Discount</th>
  </tr>
  <tr>
    <td><%= @bulk_discount.quantity_threshold %></td>
    <td><%= @bulk_discount.percentage_discount %></td>
  </tr>
</table>
