<h2>Bulk Discount #<%= @bulk_discount.id %></h2>  
<p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>
<p>Percentage: <%= @bulk_discount.percentage %></p>

<%= link_to 'Edit bulk discount', "/merchant/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}/edit" %>
