<h2>Bulk Discount Name: <%= @bulk_discount.name %></h2>
<br>
<br>
<h4>Discount Percentage: <%= @bulk_discount.discount_percent.to_i %>%</h4>
<br>
<h4>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></h4>