<h1>Merchant Discount Show page </h1>

<div id="discount <%=@bulk_discount.id %>">
  <li>Percentage Discount:<%=@bulk_discount.percentage_discount%>%</li>
  <li>Quantity Threshold:<%=@bulk_discount.quantity_threshold%></li>
  
</div>
