<h1> Bulk Discount Details </h1>

<h3> Active discounts</h3>
<h4>Discount ID: <%="#{@bulk_discount.id}" %> </h4>
<li>Percentage:<%= @bulk_discount.percentage%>%</li>
<li>Min Qnty:<%= @bulk_discount.quantity_threshold%></li>
