---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v2/NextPublicHolidays/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 13 Nov 2021 20:25:06 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-11-25","localName":"Thanksgiving Day","name":"Thanksgiving
        Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":1863,"types":["Public"]},{"date":"2021-12-24","localName":"Christmas
        Day","name":"Christmas Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2021-12-31","localName":"New
        Year''s Day","name":"New Year''s Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-01-17","localName":"Martin
        Luther King, Jr. Day","name":"Martin Luther King, Jr. Day","countryCode":[...]
