<center><h2>Quick Links:</h2>
<b>Dashboard:</b><br>
<tt>View Invoices, Items, and Discounts for Merchant</tt> | <%= link_to "Sample", "/merchant/1/dashboard" %> |
<br><br>
<b>Discount Index:</b><br>
<tt>View, & Create/Update Discounts:</tt>
| <%= link_to "Sample", "/merchant/1/discounts" %> |
<br><br>
<b>Merchant Invoice:</b><br>
<tt>Reveune Pre/Post Discounts, and where Discounts were Applied: </tt>
| <%= link_to "Sample", "/merchant/1/invoices/29" %> |
<br><br>
<b>Admin Invoice:</b><br>
<tt>View Invoice with Admin Access </tt>
| <%= link_to "Sample", "/admin/invoices/29" %> | </center>
