<h1>Quick Links:</h1>

<h4><%= link_to "Dashboard Sample", "/merchant/1/dashboard" %></h4>
<h4><%= link_to "Discounts Index Sample", "/merchant/1/discounts" %></h4>
<h4><%= link_to "Invoice Sample", "/merchant/1/invoices/45" %></h4>
