

<body>
  <div class="row">
    <p class='col-12'><%= @item.name %></p>
  </div>


  <p><%= @item.description %></p><br/>

  <p>Price: $<%= @item.unit_price %></p>

  <strong><%= link_to "Update Item", edit_merchant_item_path(@merchant, @item) %></strong>

</body>
