<h1>Discounts Index Page</h1>

<h2>Upcoming Holidays</h2>
<ol>
  <section id="upcomingHolidays">
    <p><% @holidays.info.each do |info| %>
      <li><%= info.join(': ') %></li>
      <% end %>
    </p>
  </section>
</ol>

<% @discounts.each do |discount| %>
  <p>Discount ID: <%= link_to "#{discount.id}", merchant_discount_path(@merchant, discount) %></p>
  <p>Discount Percentage: <%= discount.percentage_discount %></p>
  <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
<% end %>