<h1>Merchant's Discount Show Page</h1>

 
<p>
  <strong>Discount ID: </strong><%= @discount.id %><br>
  <strong>Quantity Threshold: </strong><%= @discount.threshold %><br>
  <strong>Discount Percentage: </strong><%= @discount.percentage %>
</p>


<%= link_to "Edit Discount", "/merchant/#{@merchant.id}/discounts/#{@discount.id}/edit" %>