<h1>Discount Show Page</h1>

<section id="discount-info">
  <h2>Discount Info</h2>
  <ul>
    <li><%= "Merchant Name: #{@merchant.name}" %></li>
    <li><%= "Discount id# #{@discount.id}" %></li>
    <li><%= "Quantity Threshold: #{@discount.quantity}" %></li>
    <li><%= "Percentage Discount: #{@discount.percentage}" %></li>
  </ul>
</section>